body {
    background-color: #efefef;
}

body a:hover {
    text-decoration: none;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-right {
    margin-bottom: 15px;
    float: right;
}

.media-object {
    width: 40px;
    height: 40px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.comment-sp {
    margin: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 10px;
    cursor: pointer;
}

.menu .icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.comment-btn {
    margin: 10px 0;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    list-style: none;
    padding-left: 0;
}

.question-related li {
    padding: 3px 0;
}

.question-related li a:hover {
    color: #499ef3;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.publish-tag-tab .tab-pane span {
    cursor: pointer;
}